body {
    background-image: url('magnus\ fond.png');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    h1 {
    color: #d8a35d;
    font-size: 75px;
    font-family: 'Papyrus', 'Segoe Print', 'Apple Chancery', 'Zapfino', cursive;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    background: linear-gradient(45deg, #8b4513, #daa520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

p {
    color: #d8a35d;
    font-size: 25px;
    font-family: 'Papyrus', 'Segoe Print', 'Apple Chancery', cursive;
    background: rgba(14, 12, 11, 0.3);
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #8b4513;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    line-height: 1.4;
}
    p img {
    border-radius: 20px;
    box-shadow: 0 0 20px #500d0d;
}
}
