body {
    background-image: url('Rogal\ Dorn\ fond.jpg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    h1{
        color: #d8db34;
        font-size: 75px;
        font-family: 'UnifrakturCook', 'Old English Text MT', 'Blackletter', serif;
        text-align: center;
    }
    p {
        color: #d8db34;
        font-size: 25px;
        background: rgba(0, 0, 0, 0.3);
        margin: 0;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    p img {
    border-radius: 20px;
    box-shadow: 0 0 20px #500d0d;
}
}
